@font-face {
  font-family: grinched;
  src: url("fonts/Grinched.ttf");
}

* {
  font-family: grinched;
}

body {
  background: url('img/bg.png');
}

@keyframes bounce {
  0% { transform: translateY(-1000px); }
  40% { transform: translateY(0px); }
  60% { transform: translateY(-40px); }
  70% { transform: translateY(0px); }
  80% { transform: translateY(-20px); }
  85% { transform: translateY(0px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-1000px); }
  40% { transform: translateY(0px); }
  60% { transform: translateY(-40px); }
  70% { transform: translateY(0px); }
  80% { transform: translateY(-20px); }
  85% { transform: translateY(0px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@-webkit-keyframes pop {
  0% { -webkit-transform: scale(0); }
  50% { -webkit-transform: scale(1.2); }
  70% { -webkit-transform: scale(1); }
  90% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

@keyframes pop {
  0% { -webkit-transform: scale(0); }
  50% { -webkit-transform: scale(1.2); }
  70% { -webkit-transform: scale(1); }
  90% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

.logo {
    display: block;
    margin: 0 auto;
    animation: bounce 1s;
    -webkit-animation: bounce 1s;
}

.hidden {
  display: none;
}

.before-game, .in-game {
  margin-top: 100px;
}

#play {
  width: 250px;
  font-size: 40px;
  text-transform: uppercase;
  height: 70px;
  line-height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background: #FF572D;
  cursor: pointer;
  box-shadow: 4px 4px 0 #EC2F00;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  margin-bottom: 80px;
}

#play:hover {
  box-shadow: none;
  color: rgba(0,0,0, 0.9);
  position: relative;
  left: 4px;
  top: 4px;
}

#counter {
  opacity: 0;
  font-size: 200px;
  display: block;
  text-align: center;
}

#counter.ready {
  opacity: 1;
  transition: opacity 0.2s;
  color: #FF9326;
}

#counter.steady {
  opacity: 1;
  transition: opacity 0.2s;
  color: #FF26FF;
}

#counter.go {
  opacity: 1;
  transition: opacity 0.2s;
  color: #00B22D;
}

.results-container {
  text-align: center;
}

.result {
  display: inline-block;
  margin: 20px;
}

.result p {
  margin: 5px;
  font-size: 30px;
}

.result .visible {
  animation: pop 0.5s;
  -webkit-animation: pop 0.5s;
}

.after-game {
  text-align: center;
}

#winner {
  font-size: 40px;
  color: #5C26FF;
}

.notice {
  color: #FF0000;
  font-size: 30px;
  display: block;
  text-align: center;
}
